{ns drug-formulary.v1,
 import
 #{drug-formulary.v1.usdf-MarketingURL-extension
   drug-formulary.v1.usdf-FormularyURL-extension
   drug-formulary.v1.usdf-QuantityLimit-extension
   drug-formulary.v1.usdf-Network-extension
   drug-formulary.v1.usdf-PriorAuthorization-extension
   drug-formulary.v1.usdf-PlanID-extension
   drug-formulary.v1.usdf-SummaryURL-extension
   drug-formulary.v1.usdf-DrugTierID-extension
   drug-formulary.v1.usdf-FormularyDrug
   drug-formulary.v1.usdf-CoveragePlan
   drug-formulary.v1.usdf-EmailPlanContact-extension
   drug-formulary.v1.usdf-StepTherapyLimit-extension
   drug-formulary.v1.usdf-DrugTierDefinition-extension
   drug-formulary.v1.usdf-DrugAlternatives-extension
   drug-formulary.v1.usdf-PlanIDType-extension}}