{ns us-core.v1.us-core-goal,
 import #{aidbox-fx fhir aidbox},
 Goal
 {:format :fhir,
  :zen/tags #{zen/schema aidbox/profile},
  :require #{:description :subject :lifecycleStatus},
  :type zen/map,
  :zen/desc
  "Defines constraints and extensions on the Goal resource for the minimal set of data to query and retrieve a patient's goal(s).",
  :resourceType "Goal",
  :keys
  {:description {:confirms #{Goal.description}},
   :category {:confirms #{Goal.category}},
   :addresses {:confirms #{Goal.addresses}},
   :meta {:confirms #{Goal.meta}},
   :expressedBy {:confirms #{Goal.expressedBy}},
   :implicitRules {:confirms #{Goal.implicitRules}},
   :startDate {:confirms #{fhir/date}},
   :achievementStatus {:confirms #{Goal.achievementStatus}},
   :statusReason {:confirms #{Goal.statusReason}},
   :resourceType {:type zen/string, :const {:value "Goal"}},
   :note {:confirms #{Goal.note}},
   :extension {:confirms #{Goal.extension}},
   :contained {:confirms #{Goal.contained}},
   :startCodeableConcept {:confirms #{fhir/CodeableConcept}},
   :priority {:confirms #{Goal.priority}},
   :language {:confirms #{Goal.language}},
   :outcomeCode {:confirms #{Goal.outcomeCode}},
   :id {:confirms #{Goal.id}},
   :identifier {:confirms #{Goal.identifier}},
   :statusDate {:confirms #{Goal.statusDate}},
   :target {:confirms #{Goal.target}},
   :outcomeReference {:confirms #{Goal.outcomeReference}},
   :subject {:confirms #{Goal.subject}},
   :modifierExtension {:confirms #{Goal.modifierExtension}},
   :lifecycleStatus {:confirms #{Goal.lifecycleStatus}},
   :text {:confirms #{Goal.text}}},
  :exclusive-keys #{#{:startDate :startCodeableConcept}},
  :severity "supported",
  :validation-type :open,
  :profile-definition
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-goal"},
 Goal.achievementStatus
 {:zen/desc
  "Describes the progression, or lack thereof, towards the goal against the target.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Goal.addresses
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.addresses.*}}},
 Goal.addresses.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc
  "The identified conditions and other health record elements that are intended to be addressed by the goal."},
 Goal.category
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.category.*}}},
 Goal.category.*
 {:confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc "Indicates a category the goal falls within."},
 Goal.contained
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.contained.*}}},
 Goal.contained.*
 {:confirms #{fhir/Resource},
  :zen/tags #{zen/schema},
  :zen/desc
  "These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},
 Goal.description
 {:zen/desc
  "Human-readable and/or coded description of a specific desired objective of care, such as \"control blood pressure\" or \"negotiate an obstacle course\" or \"dance with child at wedding\".",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Goal.expressedBy
 {:zen/desc
  "Indicates whose goal this is - patient goal, practitioner goal, etc.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Goal.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.extension.*}}},
 Goal.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Goal.id
 {:zen/desc
  "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Goal.identifier
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.identifier.*}}},
 Goal.identifier.*
 {:confirms #{fhir/Identifier},
  :zen/tags #{zen/schema},
  :zen/desc
  "Business identifiers assigned to this goal by the performer or other systems which remain constant as the resource is updated and propagates from server to server."},
 Goal.implicitRules
 {:zen/desc
  "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/uri}},
 Goal.language
 {:zen/desc "The base language in which the resource is written.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/code}},
 Goal.lifecycleStatus
 {aidbox-fx/valueset Goal.lifecycleStatus.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc "The state of the goal throughout its lifecycle."},
 Goal.lifecycleStatus.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/goal-status"},
 Goal.meta
 {:zen/desc
  "The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Meta}},
 Goal.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.modifierExtension.*}}},
 Goal.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Goal.note
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.note.*}}},
 Goal.note.*
 {:confirms #{fhir/Annotation},
  :zen/tags #{zen/schema},
  :zen/desc "Any comments related to the goal."},
 Goal.outcomeCode
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.outcomeCode.*}}},
 Goal.outcomeCode.*
 {:confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc
  "Identifies the change (or lack of change) at the point when the status of the goal is assessed."},
 Goal.outcomeReference
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.outcomeReference.*}}},
 Goal.outcomeReference.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc "Details of what's changed (or not changed)."},
 Goal.priority
 {:zen/desc
  "Identifies the mutually agreed level of importance associated with reaching/sustaining the goal.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Goal.statusDate
 {:zen/desc
  "Identifies when the current status.  I.e. When initially created, when achieved, when cancelled, etc.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/date}},
 Goal.statusReason
 {:zen/desc "Captures the reason for the current status.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Goal.subject
 {:zen/desc
  "Identifies the patient, group or organization for whom the goal is being established.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Goal.target
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.target.*}}},
 Goal.target.*
 {:confirms #{fhir/BackboneElement},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc "Indicates what should be done by when.",
  :keys
  {:detailRange {:confirms #{fhir/Range}},
   :detailQuantity {:confirms #{fhir/Quantity}},
   :detailInteger {:confirms #{fhir/integer}},
   :detailString {:confirms #{fhir/string}},
   :measure {:confirms #{Goal.target.measure}},
   :detailRatio {:confirms #{fhir/Ratio}},
   :extension {:confirms #{Goal.target.extension}},
   :detailCodeableConcept {:confirms #{fhir/CodeableConcept}},
   :id {:confirms #{Goal.target.id}},
   :dueDate {:confirms #{fhir/date Goal.target.dueDate}},
   :detailBoolean {:confirms #{fhir/boolean}},
   :modifierExtension {:confirms #{Goal.target.modifierExtension}}},
  :exclusive-keys
  #{#{:detailRange :detailQuantity :detailInteger :detailString
      :detailRatio :detailCodeableConcept :detailBoolean}}},
 Goal.target.dueDate
 {:zen/desc
  "Indicates either the date or the duration after start by which the goal should be met.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/date}},
 Goal.target.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.target.extension.*}}},
 Goal.target.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Goal.target.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Goal.target.measure
 {:zen/desc
  "The parameter whose value is being tracked, e.g. body weight, blood pressure, or hemoglobin A1c level.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Goal.target.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Goal.target.modifierExtension.*}}},
 Goal.target.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Goal.text
 {:zen/desc
  "A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Narrative}}}