{ns us-core.v1.us-core-procedure,
 import #{aidbox-fx fhir aidbox},
 Procedure
 {:format :fhir,
  :zen/tags #{zen/schema aidbox/profile},
  :require
  #{#{:performedDateTime :performedPeriod} :status :code :subject},
  :type zen/map,
  :zen/desc
  "Defines constraints and extensions on the Procedure resource for the minimal set of data to query and retrieve patient's procedure information.",
  :resourceType "Procedure",
  :keys
  {:category {:confirms #{Procedure.category}},
   :report {:confirms #{Procedure.report}},
   :usedCode {:confirms #{Procedure.usedCode}},
   :usedReference {:confirms #{Procedure.usedReference}},
   :instantiatesCanonical
   {:confirms #{Procedure.instantiatesCanonical}},
   :meta {:confirms #{Procedure.meta}},
   :instantiatesUri {:confirms #{Procedure.instantiatesUri}},
   :focalDevice {:confirms #{Procedure.focalDevice}},
   :encounter {:confirms #{Procedure.encounter}},
   :complicationDetail {:confirms #{Procedure.complicationDetail}},
   :implicitRules {:confirms #{Procedure.implicitRules}},
   :reasonCode {:confirms #{Procedure.reasonCode}},
   :statusReason {:confirms #{Procedure.statusReason}},
   :outcome {:confirms #{Procedure.outcome}},
   :resourceType {:type zen/string, :const {:value "Procedure"}},
   :asserter {:confirms #{Procedure.asserter}},
   :note {:confirms #{Procedure.note}},
   :extension {:confirms #{Procedure.extension}},
   :contained {:confirms #{Procedure.contained}},
   :complication {:confirms #{Procedure.complication}},
   :status {:confirms #{Procedure.status}},
   :language {:confirms #{Procedure.language}},
   :id {:confirms #{Procedure.id}},
   :performedDateTime {:confirms #{fhir/dateTime}},
   :recorder {:confirms #{Procedure.recorder}},
   :code {:confirms #{Procedure.code}},
   :identifier {:confirms #{Procedure.identifier}},
   :bodySite {:confirms #{Procedure.bodySite}},
   :basedOn {:confirms #{Procedure.basedOn}},
   :partOf {:confirms #{Procedure.partOf}},
   :performedPeriod {:confirms #{fhir/Period}},
   :location {:confirms #{Procedure.location}},
   :followUp {:confirms #{Procedure.followUp}},
   :subject {:confirms #{Procedure.subject}},
   :modifierExtension {:confirms #{Procedure.modifierExtension}},
   :performer {:confirms #{Procedure.performer}},
   :reasonReference {:confirms #{Procedure.reasonReference}},
   :text {:confirms #{Procedure.text}}},
  :exclusive-keys #{#{:performedDateTime :performedPeriod}},
  :severity "supported",
  :validation-type :open,
  :profile-definition
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure"},
 Procedure.asserter
 {:zen/desc "Individual who is making the procedure statement.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.basedOn
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.basedOn.*}}},
 Procedure.basedOn.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc
  "A reference to a resource that contains details of the request for this procedure."},
 Procedure.bodySite
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.bodySite.*}}},
 Procedure.bodySite.*
 {:confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc
  "Detailed and structured anatomical location information. Multiple locations are allowed - e.g. multiple punch biopsies of a lesion."},
 Procedure.category
 {:zen/desc
  "A code that classifies the procedure for searching, sorting and display purposes (e.g. \"Surgical Procedure\").",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Procedure.code
 {:zen/desc
  "The specific procedure that is performed. Use text if the exact nature of the procedure cannot be coded (e.g. \"Laparoscopic Appendectomy\").",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Procedure.complication
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.complication.*}}},
 Procedure.complication.*
 {:confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc
  "Any complications that occurred during the procedure, or in the immediate post-performance period. These are generally tracked separately from the notes, which will typically describe the procedure itself rather than any 'post procedure' issues."},
 Procedure.complicationDetail
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.complicationDetail.*}}},
 Procedure.complicationDetail.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc
  "Any complications that occurred during the procedure, or in the immediate post-performance period."},
 Procedure.contained
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.contained.*}}},
 Procedure.contained.*
 {:confirms #{fhir/Resource},
  :zen/tags #{zen/schema},
  :zen/desc
  "These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},
 Procedure.encounter
 {:zen/desc
  "The Encounter during which this Procedure was created or performed or to which the creation of this record is tightly associated.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.extension.*}}},
 Procedure.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Procedure.focalDevice
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.focalDevice.*}}},
 Procedure.focalDevice.*
 {:confirms #{fhir/BackboneElement},
  :zen/tags #{zen/schema},
  :require #{:manipulated},
  :type zen/map,
  :zen/desc
  "A device that is implanted, removed or otherwise manipulated (calibration, battery replacement, fitting a prosthesis, attaching a wound-vac, etc.) as a focal portion of the Procedure.",
  :keys
  {:action {:confirms #{Procedure.focalDevice.action}},
   :modifierExtension
   {:confirms #{Procedure.focalDevice.modifierExtension}},
   :id {:confirms #{Procedure.focalDevice.id}},
   :extension {:confirms #{Procedure.focalDevice.extension}},
   :manipulated {:confirms #{Procedure.focalDevice.manipulated}}}},
 Procedure.focalDevice.action
 {:zen/desc
  "The kind of change that happened to the device during the procedure.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Procedure.focalDevice.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.focalDevice.extension.*}}},
 Procedure.focalDevice.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Procedure.focalDevice.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Procedure.focalDevice.manipulated
 {:zen/desc
  "The device that was manipulated (changed) during the procedure.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.focalDevice.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.focalDevice.modifierExtension.*}}},
 Procedure.focalDevice.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Procedure.followUp
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.followUp.*}}},
 Procedure.followUp.*
 {:confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc
  "If the procedure required specific follow up - e.g. removal of sutures. The follow up may be represented as a simple note or could potentially be more complex, in which case the CarePlan resource can be used."},
 Procedure.id
 {:zen/desc
  "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Procedure.identifier
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.identifier.*}}},
 Procedure.identifier.*
 {:confirms #{fhir/Identifier},
  :zen/tags #{zen/schema},
  :zen/desc
  "Business identifiers assigned to this procedure by the performer or other systems which remain constant as the resource is updated and is propagated from server to server."},
 Procedure.implicitRules
 {:zen/desc
  "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/uri}},
 Procedure.instantiatesCanonical
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.instantiatesCanonical.*}}},
 Procedure.instantiatesCanonical.*
 {:confirms #{fhir/canonical},
  :zen/tags #{zen/schema},
  :zen/desc
  "The URL pointing to a FHIR-defined protocol, guideline, order set or other definition that is adhered to in whole or in part by this Procedure."},
 Procedure.instantiatesUri
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.instantiatesUri.*}}},
 Procedure.instantiatesUri.*
 {:confirms #{fhir/uri},
  :zen/tags #{zen/schema},
  :zen/desc
  "The URL pointing to an externally maintained protocol, guideline, order set or other definition that is adhered to in whole or in part by this Procedure."},
 Procedure.language
 {:zen/desc "The base language in which the resource is written.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/code}},
 Procedure.location
 {:zen/desc
  "The location where the procedure actually happened.  E.g. a newborn at home, a tracheostomy at a restaurant.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.meta
 {:zen/desc
  "The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Meta}},
 Procedure.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.modifierExtension.*}}},
 Procedure.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Procedure.note
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.note.*}}},
 Procedure.note.*
 {:confirms #{fhir/Annotation},
  :zen/tags #{zen/schema},
  :zen/desc "Any other notes and comments about the procedure."},
 Procedure.outcome
 {:zen/desc
  "The outcome of the procedure - did it resolve the reasons for the procedure being performed?",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Procedure.partOf
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.partOf.*}}},
 Procedure.partOf.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc
  "A larger event of which this particular procedure is a component or step."},
 Procedure.performer
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.performer.*}}},
 Procedure.performer.*
 {:confirms #{fhir/BackboneElement},
  :zen/tags #{zen/schema},
  :require #{:actor},
  :type zen/map,
  :zen/desc "Limited to \"real\" people rather than equipment.",
  :keys
  {:onBehalfOf {:confirms #{Procedure.performer.onBehalfOf}},
   :function {:confirms #{Procedure.performer.function}},
   :id {:confirms #{Procedure.performer.id}},
   :modifierExtension
   {:confirms #{Procedure.performer.modifierExtension}},
   :actor {:confirms #{Procedure.performer.actor}},
   :extension {:confirms #{Procedure.performer.extension}}}},
 Procedure.performer.actor
 {:zen/desc "The practitioner who was involved in the procedure.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.performer.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.performer.extension.*}}},
 Procedure.performer.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Procedure.performer.function
 {:zen/desc
  "Distinguishes the type of involvement of the performer in the procedure. For example, surgeon, anaesthetist, endoscopist.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Procedure.performer.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Procedure.performer.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.performer.modifierExtension.*}}},
 Procedure.performer.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Procedure.performer.onBehalfOf
 {:zen/desc
  "The organization the device or practitioner was acting on behalf of.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.reasonCode
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.reasonCode.*}}},
 Procedure.reasonCode.*
 {:confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc
  "The coded reason why the procedure was performed. This may be a coded entity of some type, or may simply be present as text."},
 Procedure.reasonReference
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.reasonReference.*}}},
 Procedure.reasonReference.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc "The justification of why the procedure was performed."},
 Procedure.recorder
 {:zen/desc
  "Individual who recorded the record and takes responsibility for its content.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.report
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.report.*}}},
 Procedure.report.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc
  "This could be a histology result, pathology report, surgical report, etc."},
 Procedure.status
 {aidbox-fx/valueset Procedure.status.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc
  "A code specifying the state of the procedure. Generally, this will be the in-progress or completed state."},
 Procedure.status.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/event-status"},
 Procedure.statusReason
 {:zen/desc
  "Captures the reason for the current state of the procedure.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Procedure.subject
 {:zen/desc
  "The person, animal or group on which the procedure was performed.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Procedure.text
 {:zen/desc
  "A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Narrative}},
 Procedure.usedCode
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.usedCode.*}}},
 Procedure.usedCode.*
 {:confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc
  "Identifies coded items that were used as part of the procedure."},
 Procedure.usedReference
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Procedure.usedReference.*}}},
 Procedure.usedReference.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc
  "Identifies medications, devices and any other substance used as part of the procedure."}}