{ns us-core.v1.us-core-medication,
 import #{aidbox-fx fhir aidbox},
 Medication
 {:format :fhir,
  :zen/tags #{zen/schema aidbox/profile},
  :require #{:code},
  :type zen/map,
  :zen/desc
  "Defines constraints and extensions on the Medication resource for the minimal set of data to query and retrieve patient retrieving patient's medication information.",
  :resourceType "Medication",
  :keys
  {:amount {:confirms #{Medication.amount}},
   :meta {:confirms #{Medication.meta}},
   :implicitRules {:confirms #{Medication.implicitRules}},
   :resourceType {:type zen/string, :const {:value "Medication"}},
   :batch {:confirms #{Medication.batch}},
   :extension {:confirms #{Medication.extension}},
   :contained {:confirms #{Medication.contained}},
   :ingredient {:confirms #{Medication.ingredient}},
   :status {:confirms #{Medication.status}},
   :language {:confirms #{Medication.language}},
   :id {:confirms #{Medication.id}},
   :code {:confirms #{Medication.code}},
   :identifier {:confirms #{Medication.identifier}},
   :manufacturer {:confirms #{Medication.manufacturer}},
   :form {:confirms #{Medication.form}},
   :modifierExtension {:confirms #{Medication.modifierExtension}},
   :text {:confirms #{Medication.text}}},
  :severity "supported",
  :validation-type :open,
  :profile-definition
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-medication"},
 Medication.amount
 {:zen/desc
  "Specific amount of the drug in the packaged product.  For example, when specifying a product that has the same strength (For example, Insulin glargine 100 unit per mL solution for injection), this attribute provides additional clarification of the package amount (For example, 3 mL, 10mL, etc.).",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Ratio}},
 Medication.batch
 {:confirms #{fhir/BackboneElement},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc
  "Information that only applies to packages (not products).",
  :keys
  {:modifierExtension
   {:confirms #{Medication.batch.modifierExtension}},
   :lotNumber {:confirms #{Medication.batch.lotNumber}},
   :expirationDate {:confirms #{Medication.batch.expirationDate}},
   :id {:confirms #{Medication.batch.id}},
   :extension {:confirms #{Medication.batch.extension}}}},
 Medication.batch.expirationDate
 {:zen/desc "When this specific batch of product will expire.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/dateTime}},
 Medication.batch.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.batch.extension.*}}},
 Medication.batch.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Medication.batch.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Medication.batch.lotNumber
 {:zen/desc
  "The assigned lot number of a batch of the specified product.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Medication.batch.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.batch.modifierExtension.*}}},
 Medication.batch.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Medication.code
 {:zen/desc
  "A code (or set of codes) that specify this medication, or a textual description if no code is available. Usage note: This could be a standard medication code such as a code from RxNorm, SNOMED CT, IDMP etc. It could also be a national or local formulary code, optionally with translations to other code systems.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Medication.contained
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.contained.*}}},
 Medication.contained.*
 {:confirms #{fhir/Resource},
  :zen/tags #{zen/schema},
  :zen/desc
  "These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},
 Medication.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.extension.*}}},
 Medication.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Medication.form
 {:zen/desc
  "Describes the form of the item.  Powder; tablets; capsule.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Medication.id
 {:zen/desc
  "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Medication.identifier
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.identifier.*}}},
 Medication.identifier.*
 {:confirms #{fhir/Identifier},
  :zen/tags #{zen/schema},
  :zen/desc "Business identifier for this medication."},
 Medication.implicitRules
 {:zen/desc
  "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/uri}},
 Medication.ingredient
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.ingredient.*}}},
 Medication.ingredient.*
 {:confirms #{fhir/BackboneElement},
  :zen/tags #{zen/schema},
  :require #{#{:itemReference :itemCodeableConcept}},
  :type zen/map,
  :zen/desc
  "Identifies a particular constituent of interest in the product.",
  :keys
  {:id {:confirms #{Medication.ingredient.id}},
   :extension {:confirms #{Medication.ingredient.extension}},
   :strength {:confirms #{Medication.ingredient.strength}},
   :modifierExtension
   {:confirms #{Medication.ingredient.modifierExtension}},
   :isActive {:confirms #{Medication.ingredient.isActive}},
   :itemCodeableConcept {:confirms #{fhir/CodeableConcept}},
   :itemReference {:confirms #{fhir/Reference}}},
  :exclusive-keys #{#{:itemReference :itemCodeableConcept}}},
 Medication.ingredient.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.ingredient.extension.*}}},
 Medication.ingredient.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Medication.ingredient.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Medication.ingredient.isActive
 {:zen/desc
  "Indication of whether this ingredient affects the therapeutic action of the drug.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/boolean}},
 Medication.ingredient.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.ingredient.modifierExtension.*}}},
 Medication.ingredient.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Medication.ingredient.strength
 {:zen/desc
  "Specifies how many (or how much) of the items there are in this Medication.  For example, 250 mg per tablet.  This is expressed as a ratio where the numerator is 250mg and the denominator is 1 tablet.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Ratio}},
 Medication.language
 {:zen/desc "The base language in which the resource is written.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/code}},
 Medication.manufacturer
 {:zen/desc
  "Describes the details of the manufacturer of the medication product.  This is not intended to represent the distributor of a medication product.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Medication.meta
 {:zen/desc
  "The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Meta}},
 Medication.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Medication.modifierExtension.*}}},
 Medication.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Medication.status
 {aidbox-fx/valueset Medication.status.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc "A code to indicate if the medication is in active use."},
 Medication.status.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/medication-status"},
 Medication.text
 {:zen/desc
  "A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Narrative}}}