{ns plan-net.v1.plannet-Network,
 import
 #{plan-net.v1.location-reference aidbox-fx fhir aidbox
   plan-net.v1.via-intermediary
   plan-net.v1.contactpoint-availabletime},
 Organization
 {:format :fhir,
  :zen/tags #{zen/schema aidbox/profile},
  :require #{:name :type :active :partOf},
  :type zen/map,
  :zen/desc
  "A Network refers to a healthcare provider insurance network. A healthcare provider insurance network is an aggregation of organizations and individuals that deliver a set of services across a geography through health insurance products/plans. A network is typically owned by a payer.\n\nIn the PlanNet IG, individuals and organizations are represented as participants in a PLan-Net Network through the practitionerRole and Plan-Net-organizationAffiliation resources, respectively.",
  :resourceType "Organization",
  :keys
  {:address {:confirms #{Organization.address}},
   :meta {:confirms #{Organization.meta}},
   :name {:confirms #{Organization.name}},
   :implicitRules {:confirms #{Organization.implicitRules}},
   :type {:confirms #{Organization.type}},
   :resourceType {:type zen/string, :const {:value "Organization"}},
   :extension {:confirms #{Organization.extension}},
   :contained {:confirms #{Organization.contained}},
   :alias {:confirms #{Organization.alias}},
   :language {:confirms #{Organization.language}},
   :active {:confirms #{Organization.active}},
   :id {:confirms #{Organization.id}},
   :identifier {:confirms #{Organization.identifier}},
   :telecom {:confirms #{Organization.telecom}},
   :partOf {:confirms #{Organization.partOf}},
   :endpoint {:confirms #{Organization.endpoint}},
   :contact {:confirms #{Organization.contact}},
   :modifierExtension {:confirms #{Organization.modifierExtension}},
   :text {:confirms #{Organization.text}}},
  :severity "supported",
  :validation-type :open,
  :profile-definition
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Network"},
 Organization.active
 {:confirms #{fhir/boolean},
  :zen/tags #{zen/schema},
  :zen/desc
  "Whether the organization's record is still in active use.",
  :const {:value true}},
 Organization.address
 {:maxItems 1,
  :zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.address.*}}},
 Organization.address.*
 {:confirms #{fhir/Address},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc "An address for the organization.",
  :keys
  {:use {:confirms #{Organization.address.use}},
   :city {:confirms #{Organization.address.city}},
   :type {:confirms #{Organization.address.type}},
   :state {:confirms #{Organization.address.state}},
   :extension {:confirms #{Organization.address.extension}},
   :line {:confirms #{Organization.address.line}},
   :id {:confirms #{Organization.address.id}},
   :postalCode {:confirms #{Organization.address.postalCode}},
   :period {:confirms #{Organization.address.period}},
   :country {:confirms #{Organization.address.country}},
   :district {:confirms #{Organization.address.district}},
   :text {:confirms #{Organization.address.text}}}},
 Organization.address.city
 {:zen/desc
  "The name of the city, town, suburb, village or other community or delivery center.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.address.country
 {:zen/desc
  "Country - a nation as commonly understood or generally accepted.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.address.district
 {:zen/desc "The name of the administrative area (county).",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.address.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.address.extension.*}},
  :slicing {:slices {}}},
 Organization.address.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Organization.address.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.address.line
 {:maxItems 4,
  :zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.address.line.*}}},
 Organization.address.line.*
 {:confirms #{fhir/string},
  :zen/tags #{zen/schema},
  :zen/desc
  "This component contains the house number, apartment number, street name, street direction,  P.O. Box number, delivery hints, and similar address information."},
 Organization.address.period
 {:zen/desc "Time period when address was/is in use.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Period}},
 Organization.address.postalCode
 {:zen/desc
  "A postal code designating a region defined by the postal service.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.address.state
 {:zen/desc
  "Sub-unit of a country with limited sovereignty in a federally organized country. A code may be used if codes are in common use (e.g. US 2 letter state codes).",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.address.text
 {:zen/desc
  "Specifies the entire address as it should be displayed e.g. on a postal label. This may be provided instead of or as well as the specific parts.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.address.type
 {aidbox-fx/valueset Organization.address.type.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc
  "Distinguishes between physical addresses (those you can visit) and mailing addresses (e.g. PO Boxes and care-of addresses). Most addresses are both."},
 Organization.address.type.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/address-type"},
 Organization.address.use
 {aidbox-fx/valueset Organization.address.use.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc "The purpose of this address."},
 Organization.address.use.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/address-use"},
 Organization.alias
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.alias.*}}},
 Organization.alias.*
 {:confirms #{fhir/string},
  :zen/tags #{zen/schema},
  :zen/desc
  "A list of alternate names that the organization is known as, or was known as in the past."},
 Organization.contact
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.contact.*}}},
 Organization.contact.*
 {:confirms #{fhir/BackboneElement},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc "Contact for the organization for a certain purpose.",
  :keys
  {:telecom {:confirms #{Organization.contact.telecom}},
   :extension {:confirms #{Organization.contact.extension}},
   :id {:confirms #{Organization.contact.id}},
   :modifierExtension
   {:confirms #{Organization.contact.modifierExtension}},
   :purpose {:confirms #{Organization.contact.purpose}},
   :address {:confirms #{Organization.contact.address}},
   :name {:confirms #{Organization.contact.name}}}},
 Organization.contact.address
 {:zen/desc "Visiting or postal addresses for the contact.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Address}},
 Organization.contact.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.contact.extension.*}}},
 Organization.contact.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Organization.contact.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.contact.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.contact.modifierExtension.*}}},
 Organization.contact.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Organization.contact.name
 {:zen/desc "A name associated with the contact.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/HumanName}},
 Organization.contact.purpose
 {:zen/desc
  "Indicates a purpose for which the contact can be reached.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Organization.contact.telecom
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.contact.telecom.*}}},
 Organization.contact.telecom.*
 {:confirms #{fhir/ContactPoint},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc
  "A contact detail (e.g. a telephone number or an email address) by which the party may be contacted.",
  :keys
  {:period {:confirms #{Organization.contact.telecom.period}},
   :rank {:confirms #{Organization.contact.telecom.rank}},
   :id {:confirms #{Organization.contact.telecom.id}},
   :value {:confirms #{Organization.contact.telecom.value}},
   :extension {:confirms #{Organization.contact.telecom.extension}},
   :use {:confirms #{Organization.contact.telecom.use}},
   :system {:confirms #{Organization.contact.telecom.system}}}},
 Organization.contact.telecom.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.contact.telecom.extension.*}},
  :slicing
  {:slices
   {"contactpoint-availabletime"
    {:filter
     {:engine :proto.zen.core/zen,
      :zen
      {:confirms
       #{Organization.contact.telecom.extension:contactpoint-availabletime.*}}},
     :schema
     {:confirms
      #{Organization.contact.telecom.extension:contactpoint-availabletime}}},
    "via-intermediary"
    {:filter
     {:engine :proto.zen.core/zen,
      :zen
      {:confirms
       #{Organization.contact.telecom.extension:via-intermediary.*}}},
     :schema
     {:confirms
      #{Organization.contact.telecom.extension:via-intermediary}}}}}},
 Organization.contact.telecom.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Organization.contact.telecom.extension:contactpoint-availabletime
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every
  {:confirms
   #{Organization.contact.telecom.extension:contactpoint-availabletime.*}}},
 Organization.contact.telecom.extension:contactpoint-availabletime.*
 {:confirms #{plan-net.v1.contactpoint-availabletime/Extension},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc "Optional Extension Element - found in all resources."},
 Organization.contact.telecom.extension:via-intermediary
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every
  {:confirms
   #{Organization.contact.telecom.extension:via-intermediary.*}}},
 Organization.contact.telecom.extension:via-intermediary.*
 {:confirms #{plan-net.v1.via-intermediary/Extension},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc "Optional Extension Element - found in all resources."},
 Organization.contact.telecom.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.contact.telecom.period
 {:zen/desc "Time period when the contact point was/is in use.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Period}},
 Organization.contact.telecom.rank
 {:zen/desc
  "Specifies a preferred order in which to use a set of contacts. ContactPoints with lower rank values are more preferred than those with higher rank values.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/positiveInt}},
 Organization.contact.telecom.system
 {aidbox-fx/valueset Organization.contact.telecom.system.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc
  "Telecommunications form for contact point - what communications system is required to make use of the contact."},
 Organization.contact.telecom.system.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/contact-point-system"},
 Organization.contact.telecom.use
 {aidbox-fx/valueset Organization.contact.telecom.use.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc "Identifies the purpose for the contact point."},
 Organization.contact.telecom.use.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/contact-point-use"},
 Organization.contact.telecom.value
 {:zen/desc
  "The actual contact point details, in a form that is meaningful to the designated communication system (i.e. phone number or email address).",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.contained
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.contained.*}}},
 Organization.contained.*
 {:confirms #{fhir/Resource},
  :zen/tags #{zen/schema},
  :zen/desc
  "These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},
 Organization.endpoint
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.endpoint.*}}},
 Organization.endpoint.*
 {:confirms #{fhir/Reference},
  :zen/tags #{zen/schema},
  :zen/desc
  "Technical endpoints providing access to services operated for the organization."},
 Organization.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.extension.*}},
  :slicing
  {:slices
   {"location-reference"
    {:filter
     {:engine :proto.zen.core/zen,
      :zen {:confirms #{Organization.extension:location-reference.*}}},
     :schema
     {:confirms #{Organization.extension:location-reference}}}}}},
 Organization.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc "An Extension"},
 Organization.extension:location-reference
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.extension:location-reference.*}}},
 Organization.extension:location-reference.*
 {:confirms #{plan-net.v1.location-reference/Extension},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc "Optional Extension Element - found in all resources."},
 Organization.id
 {:zen/desc
  "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.identifier
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.identifier.*}},
  :slicing
  {:slices
   {"NPI"
    {:filter
     {:engine :proto.zen.core/zen,
      :zen {:confirms #{Organization.identifier:NPI.*}}},
     :schema {:confirms #{Organization.identifier:NPI}}},
    "CLIA"
    {:filter
     {:engine :proto.zen.core/zen,
      :zen {:confirms #{Organization.identifier:CLIA.*}}},
     :schema {:confirms #{Organization.identifier:CLIA}}}}}},
 Organization.identifier.*
 {:confirms #{fhir/Identifier},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc
  "Identifier for the organization that is used to identify the organization across multiple disparate systems.",
  :keys
  {:period {:confirms #{Organization.identifier.period}},
   :extension {:confirms #{Organization.identifier.extension}},
   :use {:confirms #{Organization.identifier.use}},
   :type {:confirms #{Organization.identifier.type}},
   :id {:confirms #{Organization.identifier.id}},
   :assigner {:confirms #{Organization.identifier.assigner}},
   :value {:confirms #{Organization.identifier.value}},
   :system {:confirms #{Organization.identifier.system}}}},
 Organization.identifier.assigner
 {:zen/desc "Organization that issued/manages the identifier.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Organization.identifier.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.identifier.extension.*}},
  :slicing {:slices {}}},
 Organization.identifier.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Organization.identifier.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.identifier.period
 {:zen/desc
  "Time period during which identifier is/was valid for use.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Period}},
 Organization.identifier.system
 {:zen/desc
  "Establishes the namespace for the value - that is, a URL that describes a set values that are unique.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/uri}},
 Organization.identifier.type
 {:zen/desc
  "A coded type for the identifier that can be used to determine which identifier to use for a specific purpose.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/CodeableConcept}},
 Organization.identifier.use
 {aidbox-fx/valueset Organization.identifier.use.valueset,
  :confirms #{fhir/code},
  :zen/tags #{zen/schema},
  :zen/desc "The purpose of this identifier."},
 Organization.identifier.use.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url "http://hl7.org/fhir/ValueSet/identifier-use"},
 Organization.identifier.value
 {:zen/desc
  "The portion of the identifier typically relevant to the user and which is unique within the context of the system.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.identifier:CLIA
 {:maxItems 1,
  :zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.identifier:CLIA.*}}},
 Organization.identifier:CLIA.*
 {:confirms #{fhir/Identifier},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc
  "Identifier for the organization that is used to identify the organization across multiple disparate systems.",
  :keys {:system {:const {:value "urn:oid:2.16.840.1.113883.4.7"}}},
  :validation-type :open},
 Organization.identifier:NPI
 {:maxItems 1,
  :zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.identifier:NPI.*}}},
 Organization.identifier:NPI.*
 {:confirms #{fhir/Identifier},
  :zen/tags #{zen/schema},
  :type zen/map,
  :zen/desc
  "Identifier for the organization that is used to identify the organization across multiple disparate systems.",
  :keys {:system {:const {:value "http://hl7.org/fhir/sid/us-npi"}}},
  :validation-type :open},
 Organization.implicitRules
 {:zen/desc
  "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/uri}},
 Organization.language
 {:zen/desc "The base language in which the resource is written.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/code}},
 Organization.meta
 {:confirms #{fhir/Meta},
  :zen/tags #{zen/schema},
  :require #{:lastUpdated},
  :type zen/map,
  :zen/desc
  "The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource.",
  :keys
  {:security {:confirms #{Organization.meta.security}},
   :id {:confirms #{Organization.meta.id}},
   :versionId {:confirms #{Organization.meta.versionId}},
   :source {:confirms #{Organization.meta.source}},
   :lastUpdated {:confirms #{Organization.meta.lastUpdated}},
   :tag {:confirms #{Organization.meta.tag}},
   :profile {:confirms #{Organization.meta.profile}},
   :extension {:confirms #{Organization.meta.extension}}}},
 Organization.meta.extension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.meta.extension.*}},
  :slicing {:slices {}}},
 Organization.meta.extension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},
 Organization.meta.id
 {:zen/desc
  "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.meta.lastUpdated
 {:zen/desc
  "When the resource last changed - e.g. when the version changed.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/instant}},
 Organization.meta.profile
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.meta.profile.*}}},
 Organization.meta.profile.*
 {:confirms #{fhir/canonical},
  :zen/tags #{zen/schema},
  :zen/desc
  "A list of profiles (references to [StructureDefinition](http://hl7.org/fhir/R4/structuredefinition.html#) resources) that this resource claims to conform to. The URL is a reference to [StructureDefinition.url](http://hl7.org/fhir/R4/structuredefinition-definitions.html#StructureDefinition.url)."},
 Organization.meta.security
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.meta.security.*}}},
 Organization.meta.security.*
 {:confirms #{fhir/Coding},
  :zen/tags #{zen/schema},
  :zen/desc
  "Security labels applied to this resource. These tags connect specific resources to the overall security policy and infrastructure."},
 Organization.meta.source
 {:zen/desc
  "A uri that identifies the source system of the resource. This provides a minimal amount of [Provenance](http://hl7.org/fhir/R4/provenance.html#) information that can be used to track or differentiate the source of information in the resource. The source may identify another FHIR server, document, message, database, etc.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/uri}},
 Organization.meta.tag
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.meta.tag.*}}},
 Organization.meta.tag.*
 {:confirms #{fhir/Coding},
  :zen/tags #{zen/schema},
  :zen/desc
  "Tags applied to this resource. Tags are intended to be used to identify and relate resources to process and workflow, and applications are not required to consider the tags when interpreting the meaning of a resource."},
 Organization.meta.versionId
 {:zen/desc
  "The version specific identifier, as it appears in the version portion of the URL. This value changes when the resource is created, updated, or deleted.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/id}},
 Organization.modifierExtension
 {:zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.modifierExtension.*}}},
 Organization.modifierExtension.*
 {:confirms #{fhir/Extension},
  :zen/tags #{zen/schema},
  :zen/desc
  "May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.\n\nModifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},
 Organization.name
 {:zen/desc "A name associated with the organization.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/string}},
 Organization.partOf
 {:zen/desc
  "The organization of which this organization forms a part.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Reference}},
 Organization.telecom
 {:maxItems 0,
  :zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.telecom.*}}},
 Organization.telecom.*
 {:confirms #{fhir/ContactPoint},
  :zen/tags #{zen/schema},
  :zen/desc "A contact detail for the organization."},
 Organization.text
 {:zen/desc
  "A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety.",
  :zen/tags #{zen/schema},
  :confirms #{fhir/Narrative}},
 Organization.type
 {:minItems 1,
  :maxItems 1,
  :zen/tags #{zen/schema},
  :type zen/vector,
  :every {:confirms #{Organization.type.*}}},
 Organization.type.*
 {aidbox-fx/valueset Organization.type.valueset,
  :confirms #{fhir/CodeableConcept},
  :zen/tags #{zen/schema},
  :zen/desc "The kind(s) of organization that this is."},
 Organization.type.valueset
 {:zen/tags
  #{aidbox-fx/valueset-definition
    aidbox-fx/legacy-fhir-valueset-definition},
  :engine :legacy-fhir-valueset,
  :valueset-url
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/NetworkTypeVS"}}